.ui-calendar {
	background-color: #fff;
	position: absolute;
	top: 42px;
	left: 1px;
	color: #505050;
	border-radius: 5px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.ui-calendar ul {
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 290px;
	padding: 0 5px;
	font-size: 12px;
}
.ui-calendar li {
	list-style: none;
	float: left;
	width: 40px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}
.ui-calendar li:hover {
	background-color: #efefef;
	border-radius: 50%;
}

.ui-calendar-toolbar a:hover {
	background-color: #efefef;
}
.ui-calendar-pannel {
	background: linear-gradient(to bottom right,#12ADFD, #716BD9);
	background: -webkit-linear-gradient(to bottom right,#12ADFD, #716BD9);
	color: #fff;
	padding: 15px 5px;
	border-radius: 5px 5px 0px 0px;
}
.ui-calendar-pannel span {
	cursor: pointer;
	display: block;
	float: left;
	width: 50px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.ui-calendar-pannel .month, .ui-calendar-pannel .year {
	width: 90px;
}
.ui-calendar-toolbar {
	text-align: right;
	font-size: 14px;
	padding: 0 5px 5px 0;
}
.ui-month-list, .ui-year-list{
	display: none;
	position:absolute;
	top:30px;
	left: -1px;
	height:176px;
	width: 100%;
	background-color: #fff;
	border:1px solid #ccc;
}
.ui-month-list .current,.ui-year-list .current{
	background-color: #f2f2f2;
}
.ui-month-list div,.ui-year-list div{
	cursor: pointer;
	float: left;
	width:25%;
	height:33.33%;
	line-height:3;
	overflow:hidden;
	box-sizing:border-box;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border:none;
}
.ui-month-list div:hover,.ui-year-list div:hover{
	background-color: #f2f2f2;
}
.ui-calendar-toolbar a {
	cursor: pointer;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width:65px;
	text-align: center;
	color: #716BD9;
}
.ui-calendar-time {
	margin: 0 auto;
	text-align: center;
	padding:3px;
}
.ui-calendar-time a{
	display: inline-block;
	padding:2px 3px;
	cursor: pointer;
}
.preday, .nextday,.prevtenyear,.nexttenyear {
	color: #cacaca;
}
.calendar-header {
	padding: 0 5px;
}
.calendar-header span {
	width: 40px;
	padding: 10px 0 5px 0;
	float: left;
	display: block;
	text-align: center;
	color: #716BD9;
}
.ui-calendar li.focus {
	background-color: #716BD9;
	color: #FFF;
}
.ui-calendar li.disabled {
	pointer-events: none;
}
.clearfix:after {
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	content: '.';
	zoom:1;
}
.clearfix {
	display: block;
	zoom:1;
}
.ui-calendar-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.45);
	z-index: 996;
}

@media (min-width: 320px) and (max-width: 768px) {
	.ui-calendar {
		position: fixed;
		top: 55px;;
		left: 50%;
		width: 290px;
		margin-left: -145px;
	}
}
