html, body { 
	padding: 0; 
	margin: 0; 
	border: 0;
}
body {
	background-color: #F4F4F4;
	color: #999;
	font-size:14px;
	font-family: "微软雅黑";
}
a, a:hover {
	color: #999;
	text-decoration: none;
}
/* 去掉的元素的边框 */
*:focus {
	outline: none;
} 
/* header */
.header {
	background: #009CDA;
	height: 80px;
	position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
}
.container-wrap {
	margin: 0 auto;
	width: 960px;
	position: relative;
}
.nav-logo .link-logo {
    display: inline-block;
	margin-top: 20px;
}
.calendar-box {
	position: absolute;
	right: 275px;
	top: 21px;
}
.search-box {
	position: absolute;
	right: 10px;
	top: 22px;
}
.search-box .search-calendar {
	position: absolute;
	left: 0;
	top: 0;
	width: 35px;
	height: 100%;
}
.search-box .search-text {
	padding: 8px 8px 8px 35px;
	font-size: 13px;
	border: 0px;
	border-radius: 5px;
	width: 215px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1); 
	background: url("../images/calendar.png") no-repeat #fff 5px 4px;
}

/* content */
.content {
	margin-top: 115px;
}
.content .daily-date {
	margin:25px 0;
	color: #009CDA;
	font-size: 20px;
	line-height: 20px;
	text-shadow: 0 1px 2px #c4b59d, 0px -2px 1px #fff;
}
.content .daily-date span{
	margin-left: 10px;
	font-size: 14px;
	color: #999;
}
.content .daily-item {
	display: inline-block;
	border: 0px;
	width: 300px;
	height: 360px;
	padding: 20px;	
	margin: 0 25px 25px 0;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1); 
}
.content .daily-item:nth-child(3n) {
	margin-right: 0;
}
.content .link-btn {
	display: block;
	position: relative;
}
.content .daily-item-img {
    display: block;
    max-width: 100%;
    height: 260px;
    border: 0;
}
.content .daily-item-title {
    display: block;
    line-height: 20px;
    color: #666;
    font-size: 15px;
    height: 45px;
    position: absolute;
    top: 270px;
    left: 0;
}
.content .daily-item-title:hover{
	color: #009CDA;
}
.content .content-page {
	text-align: center;
}

/* footer */
.footer {
	margin-bottom: 30px;
	background: #f3f3f3;
	color: #666;
	text-align: center;
}
.footer a {
	color: #666;
	text-decoration: underline;
}

@media (min-width: 768) {
	.container-wrap {
    	width: 960px;
  	}
}

@media (min-width: 768px) and (max-width: 960px) {
	.calendar-box {
		position: absolute;
		right: 355px;
		top: 21px;
	}
	.search-box {
		position: absolute;
		right: 90px;
	}
	.container-wrap {
    	width: 768px;
  	}
	.content .daily-item {
		margin-left: 40px;
		margin-right: 40px;
	}
	.content .daily-item:nth-child(2n) {
		margin-left: 0;
	}
	.content .daily-item:nth-child(3n) {
		margin-right: 40px;
	}
}
@media (min-width: 320px) and (max-width: 768px) {
	
	.calendar-box {
		position: absolute;
		right: 175px;
		top: 21px;
	}
	/*.search-box .search-text {
		width: 150px;
	}*/
	.search-box {
		display: none;
	}
	.container-wrap {
    	width: 100%;
  	}
  	.content .daily-date {
		margin-left: 10px;
		margin-top: 10px;
	}
	.content .daily-item {
		width: 100%;  
		height: 140px;
		margin-right: 0px;
	}
	.nav-logo {
		margin-left: 10px;
	}
	.content .daily-item-img {
	    width: 100px;
	    height: 100px;
	}
	.content .daily-item-title {
	    line-height: 30px;
	    position: absolute;
	    top: 0px;
	    left: 120px;
	}
	.content .content-page {
		text-align: center;
	}
}

