html, body { 
	padding: 0; 
	margin: 0; 
	border: 0;
}
body {
	background-color: #F4F4F4;
	color: #999;
	font-size:16px;
	font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;
}
a, a:hover {
	color: #999;
	text-decoration: none;
}
/* 去掉的元素的边框 */
*:focus {
	outline: none;
} 
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #cacaca;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #cacaca;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #cacaca;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #cacaca;
}

/* header */
.header {
	background: #009CDA;
	height: 80px;
	position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 998;
}
.container-wrap {
	margin: 0 auto;
	width: 960px;
	position: relative;
}
.nav-logo .link-logo {
    display: inline-block;
	margin-top: 20px;
}
.calendar-box {
	position: absolute;
	right: 275px;
	top: 21px;
}
.search-box {
	position: absolute;
	right: 10px;
	top: 22px;
}
.search-box .search-calendar {
	position: absolute;
	left: 0;
	top: 0;
	width: 35px;
	height: 100%;
}
.search-box .search-text {
	padding: 10px 10px 10px 38px;
	font-size: 14px;
	border: 0px;
	border-radius: 5px;
	width: 292px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1); 
	background: url("../images/calendar.png") no-repeat #fff 5px 6px;
}

/* content */
.content {
	margin-top: 115px;
}
.content .daily-date {
	margin: 25px 0;
	color: #009CDA;
	font-size: 20px;
	line-height: 20px;
}
.content .daily-date span{
	margin-left: 10px;
	font-size: 14px;
	color: #999;
}
.content .daily-item {
	display: inline-block;
	border: 0px;
	width: 300px;
	height: 360px;
	padding: 20px;	
	margin: 0 20px 20px 0;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1); 
}
.content .daily-item:nth-child(3n) {
	margin-right: 0;
}
.content .link-btn {
	display: block;
	position: relative;
}
.content .daily-item-img {
    display: block;
    max-width: 100%;
    height: 260px;
    border: 0;
}
.content .daily-item-title {
    display: block;
    line-height: 25px;
    color: #666;
    font-size: 15px;
    height: 50px;
    position: absolute;
    top: 270px;
    left: 0;
}
.content .daily-item-title:hover{
	color: #009CDA;
}
.content .content-page {
	text-align: center;
}

/* footer */
.footer {
	margin-bottom: 30px;
	background: #f3f3f3;
	color: #666;
	text-align: center;
	font-size: 14px;
}
.footer a {
	color: #666;
	text-decoration: underline;
}

@media (min-width: 960px) {
	.container-wrap {
    	width: 960px;
  	}
}

@media (min-width: 768px) and (max-width: 960px) {
	.nav-logo .link-logo {
		margin-left: 52px;
	}
	.search-box {
		right: 60px;
	}
	.container-wrap {
    	width: 768px;
  	}
	.content .daily-date {
		margin-left: 52px;
	}
	.content .daily-item {
		margin-left: 52px;
		margin-right: 52px;
	}
	.content .daily-item:nth-child(2n) {
		margin-left: 0;
	}
	.content .daily-item:nth-child(3n) {
		margin-right: 52px;
	}
}
@media (min-width: 320px) and (max-width: 768px) {
	.content {
		margin-top: 170px;
	}
	.search-box {
		position: absolute;
		left: 0;
		top: 80px;
		padding: 20px 4%;
		width:100%;
		background: #F4F4F4;
	}
	.search-box .search-text {
		width: 100%;
	}
	.container-wrap {
    	width: 100%;
  	}
  	.content .daily-date {
		margin-left: 4%;
		margin-top: 10px;
	}
	.content .daily-item {
		width: 92%;  
		height: 110px;
		margin: 0 4% 10px 4%;
		border-radius: 5px;
		padding: 15px;
	}
	.nav-logo {
		margin-left: 10px;
	}
	.content .daily-item-img {
	    width: 80px;
	    height: 80px;
	}
	.content .daily-item-title {
	    position: absolute;
	    top: 0px;
	    left: 95px;
	}
	.content .content-page {
		text-align: center;
	}
}

